@model IEnumerable<SampleFront.Models.WeatherForecast>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table table-striped">
        <tr>
            <th>WeatherForecast</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemperatureC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemperatureF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
            </tr>
        }
    </table>
</div>
